---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Contact from '../components/Contact.astro';
import Counter from '../components/Counter.astro';
import CTATop from '../components/CTATop.astro';
import Features from '../components/Features.astro';
---

<Layout title="Wofy | Tecnología para nuestras mascotas al alcance de todos.">
	<main>
		<Hero />
		<Counter />
		<CTATop />
		<Features />
		<Services />
		<Contact />
	</main>
</Layout>
