---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
---

<Layout title="Wofy | Tecnología para nuestras mascotas al alcance de todos.">
	<main>
		<Hero />
		<Services />
	</main>
</Layout>
