<section id="nosotros" class="px-8 sm:px-20 mt-10 lg:mt-20 mb-20">
	<header>
		<h2
			class="text-center text-3xl lg:text-4xl font-bold mb-4 text-puerto-rico-600"
		>
			<span class="text-black">Toma el</span> control <span
				class="text-black"
				>de tu veterinaria
			</span> y crece sin limite
		</h2>
		<p class="text-center text-lg text-gray-600">
			Únete a la revolución digital en el cuidado de mascotas y lleva tu
			negocio al siguiente nivel con Wofy.
		</p>
		<div class="flex justify-center items-center gap-5 py-5">
			<div class="flex justify-center">
				<a
					class="bg-puerto-rico-600 text-white border-2 font-bold py-3 px-5 sm:px-10 md:px-20 rounded-2xl hover:bg-wofy-white hover:border-2 hover:text-puerto-rico-600 transition duration-300 ease-in-out"
					href="https://wa.link/y8hfqg"
					target="_blank"
				>
					Empieza gratis
				</a>
			</div>
			<div class="flex justify-center">
				<a
					class="inline-block bg-wofy-white text-puerto-rico-600 border-2 border-puerto-rico-600 font-bold py-3 px-5 sm:px-10 md:px-20 rounded-2xl hover:bg-puerto-rico-700 hover:text-wofy-white hover:border-puerto-rico-700 transition duration-300 ease-in-out"
					href="https://portal.wofy.app"
					target="_blank"
				>
					Iniciar sesión
				</a>
			</div>
		</div>
	</header>
	<style>
		.blur-3.5xl {
			--tw-blur: blur(60px);
			filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
				var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert)
				var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
		}
	</style>
</section>
