---
import { Image } from 'astro:assets';
import logoWofyInverted from '../assets/logo-wofy-invertido.png';
import FacebookIcon from '../components/Icons/Facebook.astro';
import LinkedInIcon from '../components/Icons/LinkedIn.astro';
import InstagramIcon from '../components/Icons/Instagram.astro';
---

<footer class="bg-puerto-rico-600">
	<div class="flex flex-col w-full px-4 sm:px-10 py-20 relative">
		<div
			class="flex flex-col items-start gap-4 sm:gap-0 sm:flex-row sm:justify-between border-b pb-3 border-puerto-rico-50/40"
		>
			<Image
				src={logoWofyInverted}
				alt="wofy"
				class="w-20 fill-puerto-rico-50"
				loading="eager"
			/>
			<div class="flex items-start justify-center gap-10">
				<a
					href="/"
					target="_blank"
					class="text-white hover:text-puerto-rico-50"
				>
					<FacebookIcon class="w-8 h-8" />
				</a>
				<a
					href="https://www.linkedin.com/company/wofyappco/"
					target="_blank"
					rel="noopener noreferrer"
					class="text-white hover:text-puerto-rico-50"
				>
					<LinkedInIcon class="w-8 h-8" />
				</a>
				<a
					href="https://www.instagram.com/wofy.app/"
					target="_blank"
					rel="noopener noreferrer"
					class="text-white hover:text-puerto-rico-50"
				>
					<InstagramIcon class="w-8 h-8" />
				</a>
			</div>
		</div>
		<div class="grid grid-cols-2 md:grid-cols-5 gap-x-8 gap-y-4 mt-4">
			<a
				href="/privacy"
				class="text-white hover:text-wofy-black transition-colors"
			>
				Política de Privacidad
			</a>

			<a
				href="/#nosotros"
				class="text-white hover:text-wofy-black transition-colors"
			>
				Nosotros
			</a>

			<a
				href="https://portal.wofy.app"
				target="_blank"
				class="text-white hover:text-wofy-black transition-colors"
			>
				Inicia sesión
			</a>

			<a
				href="/#servicios"
				class="text-white hover:text-wofy-black transition-colors"
			>
				Servicios
			</a>

			<a
				href="https://wa.link/y8hfqg"
				target="_blank"
				class="text-white hover:text-wofy-black transition-colors"
			>
				Contáctanos
			</a>
		</div>
	</div>
</footer>
